<div class="wrapper">
  <header class="header">
    <div class="avatar-and-logout">
      <igx-avatar [src]="storeOwner.picture" roundShape="true" size="large"></igx-avatar>
      <span igxButton="outlined" (click)="logout()">Sign Out </span>
    </div>
    <div class="logo">
    </div>
  </header>
  
  
  <div class="main-panel">
    <div class="left-main-panel">
              <igx-card>
                <igx-card-header>  </igx-card-header>
                <igx-card-content>  </igx-card-content>
                <igx-card-actions>
                  <div class="igx-card-actions__igroup--start">
                    <span igxButton="icon" igxRipple igxRippleCentered="true">
                      <igx-icon name="add"></igx-icon>
                    </span>
                    <span igxButton="icon" igxRipple igxRippleCentered="true">
                      <igx-icon name="star"></igx-icon>
                    </span>
                  </div>
                </igx-card-actions>
              </igx-card>
    </div>
    <div class="center-main-panel">
      <div class="storeOwnerCard">
        <igx-card>
          <igx-card-header> Store details </igx-card-header>
          <igx-card-content>
            <ul>
          <li> Store name:  {{store.store_name}}</li>
          <li>Your store ID is: {{store.id}}</li>
          </ul>
          </igx-card-content>
          <igx-card-actions>
            <div class="igx-card-actions__igroup--start">
              <span igxButton="icon" igxRipple igxRippleCentered="true">
                <igx-icon name="add"></igx-icon>
              </span>
              <span igxButton="icon" igxRipple igxRippleCentered="true">
                <igx-icon name="star"></igx-icon>
              </span>
            </div>
          </igx-card-actions>
        </igx-card>
      </div>
    </div>
    <div class="right-main-panel">
              <igx-card>
                <igx-card-header> </igx-card-header>
                <igx-card-content> 
                  <app-monitor-queues [VisitorsQueue] = "todayVisitors"></app-monitor-queues> 
                </igx-card-content>
                <igx-card-actions>
                  <div class="igx-card-actions__igroup--start">
                    <span igxButton="icon" igxRipple igxRippleCentered="true">
                      <igx-icon name="add"></igx-icon>
                    </span>
                    <span igxButton="icon" igxRipple igxRippleCentered="true">
                      <igx-icon name="star"></igx-icon>
                    </span>
                  </div>
                </igx-card-actions>
              </igx-card>
    </div>
  </div>
  
  
  <div class="visitorsGrid" >
    <igx-grid  #myGrid [displayDensity]= "'cosy'"[data]="visitors" [paging]="true" [perPage]="10" [primaryKey]="'id'" width="100%" height="auto" (onRowEdit)="editDone($event)"
      [rowEditable]="true" [showToolbar]="true"  toolbarTitle="Visitors"  >
      <igx-column field="id" header="Id" editable="false" sortable="true"></igx-column>
      <igx-column field="first_name" header="First name" [dataType]="'string'"></igx-column>
      <igx-column field="last_name" header="Last name" [dataType]="'string'"></igx-column>
      <igx-column field="phone" header="Phone" [dataType]="'string'" sortable="true"></igx-column>
      <igx-column field="email" header="Email" [dataType]="'string'"></igx-column>
      <igx-column field="time" header="Time" [dataType]="'string'" editable="false" sortable="true"></igx-column>
      <ng-template igxCellEditor let-cell="cell">
        <igx-input-group>
          <input igxInput [igxFocus]='true' name="units" [(ngModel)]="cell.editValue" style="color: black" />
        </igx-input-group>
      </ng-template>
      <ng-template igxRowEditActions let-endEdit>
        <div class="custom-buttons">
          <button igxButton="icon" class="custom-button" igxRowEditTabStop (click)="endEdit(false)">
            <igx-icon>clear</igx-icon>
          </button>
          <button igxButton="icon" class="custom-button" igxRowEditTabStop (click)="endEdit(true)">
            <igx-icon>check</igx-icon>
          </button>
        </div>
      </ng-template>
    </igx-grid>
  </div>
  <footer class="footer">Footer</footer>
</div>