<div class="wrapper">
  <header class="header">
    <div class="avatar-and-logout">
      <div class="avatar">
        <img src={{storeOwner.picture}} class="avatar" class="avatar-img" [igxToggleAction]="toggleRef">
      </div>
      <div class="logout">
        <button class="logout-button" (click)="logout()" igxToggle #toggleRef="toggle">
          <img src="../../assets/img/Logout.png" />
        </button>
      </div>
    </div>
    <div class="title">
      <img src="../../assets/img/logo-dashboard.png" class="logo">
      <span>DashBoard</span>
    </div>
    <div>
    </div>
  </header>
  <div class="main-panel">
    <div class="left-main-panel">
      <div class="storeOwnerCard">
        <igx-card class="storDetails">
          <igx-card-header> Store details </igx-card-header>
          <igx-card-content>
            <ul>
              <li> Store name: {{store.store_name}}</li>
              <li>Your store ID is: {{store.id}}</li>
            </ul>
          </igx-card-content>
          <igx-card-actions>
            <div class="igx-card-actions__igroup--start">
              <span igxButton="icon" igxRipple igxRippleCentered="true">
                <igx-icon name="add"></igx-icon>
              </span>
              <span igxButton="icon" igxRipple igxRippleCentered="true">
                <igx-icon name="star"></igx-icon>
              </span>
            </div>
          </igx-card-actions>
        </igx-card>
      </div>
    </div>
    <div class="center-main-panel">
      <igx-card class="nextVisitor">
        <igx-card-header> Next visitor </igx-card-header>
        <igx-card-content *ngIf="nextVisitors">
          <ul>
            <li>Full Name: {{nextVisitors.first_name}}, {{nextVisitors.last_name}} </li>
            <li>Time Of Arrival: {{nextVisitors.time}}</li>
          </ul>
        </igx-card-content>
        <igx-card-content *ngIf="!nextVisitors"> No Visitors at the moment </igx-card-content>
        <igx-card-actions>
          <div class="igx-card-actions__igroup--start">
            <span igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon name="add"></igx-icon>
            </span>
            <span igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon name="star"></igx-icon>
            </span>
          </div>
        </igx-card-actions>
      </igx-card>
    </div>
    <div class="right-main-panel">
      <igx-card #queueMonitor>
        <igx-card-header>Queue Monitor</igx-card-header>
        <igx-card-content>
          <app-monitor-queues [VisitorsQueue]="todayVisitors"
            (visitorRemoveFromQueue)="onVisitorRemoveFromQueue($event)">
          </app-monitor-queues>
        </igx-card-content>
        <igx-card-actions>
          <div class="igx-card-actions__igroup--start">
            <span igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon name="add"></igx-icon>
            </span>
            <span igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon name="star"></igx-icon>
            </span>
          </div>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
  <div class="visitor_grid__header">
    <h3>Visitors Log</h3>
    <button igxButton="raised" (click)="dialogAdd.open()" class="addProdBtn">Add New Visitor</button>
  </div>
  <div class="visitorsGrid">
    <igx-grid #myGrid [displayDensity]="'cosy'" [data]="visitors" [paging]="true" [perPage]="10" [primaryKey]="'id'"
      width="100%" height="auto" (onRowEdit)="editDone($event)" [rowEditable]="true">
      <igx-column field="id" header="Id" editable="false" sortable="true"></igx-column>
      <igx-column field="first_name" header="First name" [dataType]="'string'"></igx-column>
      <igx-column field="last_name" header="Last name" [dataType]="'string'"></igx-column>
      <igx-column field="phone" header="Phone" [dataType]="'string'" sortable="true"></igx-column>
      <igx-column field="email" header="Email" [dataType]="'string'"></igx-column>
      <igx-column field="time" header="Date and time" [dataType]="'string'" editable="false" sortable="true"
        [resizable]="true">
      </igx-column>
      <ng-template igxCellEditor let-cell="cell">
        <igx-input-group>
          <input igxInput [igxFocus]='true' name="units" [(ngModel)]="cell.editValue" style="color: black" />
        </igx-input-group>
      </ng-template>
      <ng-template igxRowEditActions let-endEdit>
        <div class="custom-buttons">
          <button igxButton="icon" class="custom-button" igxRowEditTabStop (click)="endEdit(false)">
            <igx-icon>clear</igx-icon>
          </button>
          <button igxButton="icon" class="custom-button" igxRowEditTabStop (click)="endEdit(true)">
            <igx-icon>check</igx-icon>
          </button>
        </div>
      </ng-template>
    </igx-grid>
  </div>
  <footer class="footer">Footer</footer>
</div>
<div class="dialogNewRecord">
  <igx-dialog #dialogAdd title="ADD VISITOR" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
    (onLeftButtonSelect)="cancel()" (onRightButtonSelect)="addRow()">
    <div class="dialogNewRecord">
      <igx-input-group class="input-group-form">
        <label igxLabel class="igxLabel" for="first_name"> First Name </label>
        <input igxInput name="first_name" type="text" [(ngModel)]="visitor.first_name" required>
        <igx-suffix>
          <igx-icon isActive="true">person</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group class="input-group-form">
        <label igxLabel for="last_name"> Last Name </label>
        <input igxInput name="last_name" type="text" [(ngModel)]="visitor.last_name" required>
        <igx-suffix>
          <igx-icon isActive="true">person</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group class="input-group-form">
        <label igxLabel for="phone"> Phone </label>
        <input igxInput name="phone" type="text" [(ngModel)]="visitor.phone" required>
        <igx-suffix>
          <igx-icon isActive="true">phone</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group class="input-group-form">
        <label igxLabel for="email"> E-mail </label>
        <input igxInput name="email" type="text" [(ngModel)]="visitor.email" required>
        <igx-suffix>
          <igx-icon>email</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
  </igx-dialog>
</div>