

// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette, $legacy-support: true);

igx-grid-cell {
  font-family: LibreBaskerville;
}



@font-face {
  font-family: "LibreBaskerville";
  src: url("./assets/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf");
}


