// src/styles.scss
   @import '~igniteui-angular/lib/core/styles/themes/index';


   /* autoprefixer grid:on */


$primary-color: #2094B9;
$secondary-color: #131111; 

$my-color-palette: igx-palette(
    $primary: $primary-color,
    $secondary: $secondary-color
);
.dark-theme {
    background: #333;
    color: #fff;

    @include igx-dark-theme($default-palette);
}

$custom-theme: igx-grid-theme(
    $sorted-header-icon-color: #ff00ff,
    $sortable-header-icon-hover-color: black
 
);
   @include igx-core();
   @include igx-theme($my-color-palette);

@font-face {
  font-family: "LibreBaskerville";
  src: url("./assets/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf");
}


